<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PolarClimate</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Klimate/css/style.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Klimate/css/hamburgers.css" rel="stylesheet">
</head>
<body>
    <h1>Polar Climate</h1>
    <button class="hamburger hamburger--spin is-active" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
        </ul>
    </nav>

    <p>All About the Earth.</p>
    <p>High Quality Seattle Recreational Cannibis</p>
    <p><a href="">Order Online</a></p>
    <p><a href ="">Learn Mor</a></p>

    <script>
        var forEach=function(t,o,r){if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t)};
        var hamburgers = document.querySelectorAll(".hamburger");
        if (hamburgers.length > 0) {
            forEach(hamburgers, function(hamburger) {
                hamburger.addEventListener("click", function() {
                    this.classList.toggle("is-active");
                }, false);
            });
        }
    </script>
          
</body>
</html>